/**{outline: 1px solid red;}*/
body{font-family: 'Roboto', sans-serif;}
body h2{font-weight: 100; font-size:2em; line-height: 1; text-transform: uppercase; font-family:'AvenirLTStd-Medium', sans-serif; margin-bottom:30px;}
/*.list-inline img{margin: auto; width: 28px;background:rgb(50,57,70); border-radius: 50%;}
.list-inline>li{padding-left: 5px;padding-right: 0px;}
.list-inline img:hover{background-color: rgb(251,65,65); border-radius: 50%;}
.list-inline {margin-bottom: 0px;  padding: 5px; float: right;margin-right: 120px;}
*/
font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'AvenirLTStd-Medium', sans-serif;

/*------------------mennu----------*/
/*.logotipo{margin-left: 80px;}*/


/*.section-hero{margin-top: -90px;}
.menu{background-color:rgb(50,57,70);}
.menu ul a{font-size: 15px;}*/
/*#navbar .title_menu{font-family: 'Roboto', sans-serif !important; font-weight:bold !important; font-size:15px !important;}*/
.navbar-collapse.caret{float: right;margin-top: 10px;margin-left: 5px;}
.navbar-collapse .line{color: black; margin-top: 10px;}
#navbar .navbar-default{border-color: none;border-bottom:0px;}
#navbar-collapse-1{margin-top: 30px;}
.navbar-default .navbar-nav>li{margin-left: 10px;}
.navbar-default .navbar-nav>li>a {color: white; padding:10px 15px;}
.navbar-default .navbar-nav>li:hover{background-color: rgb(251,65,65);color:white;}
.navbar-default .navbar-nav>li>a:hover{color: white;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{background-color: rgb(251,65,65); color: white; border-radius: 30px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{background-color: rgb(251,65,65); color: white;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{background-color:rgba(251, 65, 65, 0.7);}
#navbar-collapse-1 .navbar-right{margin-bottom: 10px;}

.navbar-fixed-top{background-color: rgba(255,255,255,0.7); color: white;   transition: 0.2s all linear;}
.navbar-default.change-color {
  background-color:rgba(255,255,255,0.9);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
  box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
}
.navbar-default .navbar-nav>.active>a {background-color: rgb(251,65,65); color: white; border-radius: 30px;}
.navbar-default .navbar-nav>.active {padding: 0px;}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{color: black;}
/*.navbar-default .navbar-nav li{padding: 0 15px;}*/
.navbar-default .navbar-nav li:hover {background-color: rgb(251,65,65); border-radius: 30px;}
.navbar-default .navbar-nav>li>a:hover{color: white;}
.navbar-default .navbar-nav .dropdown-menu li{padding: 0px; background-color:white;}
.navbar-default .navbar-nav .dropdown-menu li a:hover{background:rgb(251,65,65); color: white;}
.dropdown-menu > li.kopie > a {padding-left:5px;}
.dropdown-submenu {position:relative;}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px; }
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;}
.dropdown-submenu:hover>a:after { border-left-color:#555;}
.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover { text-decoration: none;}  
  
@media (max-width: 767px) {
  .navbar-nav  {display: inline;}
  .navbar-default .navbar-brand {display: inline;}
  .navbar-default .navbar-toggle .icon-bar { background-color: #fff;}
  .navbar-default .navbar-nav .dropdown-menu > li > a {color: red; background-color:rgb(251,65,65); margin-top: 2px; border-bottom: 1px solid;}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {color:white;}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: white; color:rgb(50,57,70); border-bottom: none;}
  .navbar-nav .open .dropdown-menu { border-radius: 0;}
  .dropdown-menu {padding-left: 10px;}
  .dropdown-menu .dropdown-menu {padding-left: 20px;}
  .dropdown-menu .dropdown-menu .dropdown-menu { padding-left: 30px;}
  li.dropdown.open {border: 0px solid red;}
}
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {display: block;}
  #navbar {text-align: center;}
}  
@media only screen and (min-width: 751px ) and (max-width: 767px){
  .navbar-header{padding-bottom: 38px;}
  .proyects2 .esconder-mostrar .izquierda{padding: 0; margin-left: 15px;}
  .proyects2 .esconder-mostrar .derecha{padding: 0; margin-right: 15px;}
}



/*------ HEADERR slider y cuadrosinfo -----*/
/*body {padding-top: 85px; }*/
.main-text { position: absolute; top: 200px; width: 96.66666666666666%; color: #FFF;}
.carousel-btns .btn {width: 150px;}
.carousel-inner .imgOverlay {position: absolute; top: 0; width: 100%; height: 100%; background-color: rgba(6, 28, 38, 0.3);}
.carousel-inner img { width: 100%;}
.carousel-control {width: auto;}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
  position: absolute;
  top: 55%;
  right: 0;
  z-index: 5;
  display: inline-block;
  background-color: #000; border:1px solid white;
  width: 38px;
  height: 38px;
  line-height: 40px;
  font-size: 14px;
}
.carousel-control .icon-prev, .carousel-control .fa-chevron-left {left: 0;}
.carousel-indicators li {width: 12px; height: 12px; margin: 0 1px; border: 2px solid #fff; opacity: .8;}
.carousel-indicators {bottom: -60px;}
.carousel-indicators .active { background-color: #28ace2; border-color: #28ace2;}
.carousel-control .icon-prev, .carousel-control .fa-chevron-left,
.carousel-control .icon-right, .carousel-control .fa-chevron-right {border-radius: 50px;}
.carousel-control .icon-prev, .carousel-control .fa-chevron-left {left: 30px;}
.carousel-control .icon-right, .carousel-control .fa-chevron-right {right: 30px;}





 #themeSlider .cuadros{margin-top: -240px;}
.drop-up-item{ float: left; width: 100%; min-height: 100px; position:relative; top: 150px;}
.drop-up-item ._1{background-image: url(http://www.revistafusion.com/2008/junio/ong.jpg); background-size:cover;width:100%;}
.drop-up-item ._2{background-image: url(http://www.voluntariadoconongs.com/wp-content/uploads/2014/08/voluntariado-en-honduras-foto-2.jpg);background-size:cover;width:100%;}
.drop-up-item ._3{background-image: url(https://sumbawapertanian.files.wordpress.com/2014/07/sam_0281.jpg?w=300&h=225);background-size:cover;width:100%;}
.drop-up-item ._4{background-image: url(http://estaticos01.elmundo.es/elmundo/imagenes/2008/09/17/1221666002_0.jpg);background-size:cover;width:100%;}
.drop-up-item .oscuro, .oscuro2, .oscuro3, .oscuro4{background-color: rgba(0,0,0,.6); width: 100%;height: 100%;}
.content{
    /*margin: 10px;*/
    overflow: hidden;
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 76px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;}
.content button a{color: white;}
.content p{padding:30px 15px 40px; color: white;}
#drop-up{/*height: 250px;*/ /*padding: 0 1%;*/}
#drop-up h3{ 
        color:white; 
        background:rgba(251,65,65, 0.6);
        position: absolute;
        bottom: 0;
        padding: 25px 10px;
        width: 100%;
        font-size: 16px;
        border-radius: 0px 0px 4px 4px;}
#drop-up h3 &:after{
            content: "";
            float: right;
            position: absolute;
            padding: 0.5rem;
            right: -20px;
            top: -5px;
            box-shadow: 1px -1px 0 1px white inset;
            -webkit-box-shadow: 2px -2px white inset;
            border: solid transparent;
            border-width: 0 0 2rem 2rem;
            transition: 0.2s;
            @include transform(rotate(225deg));
        }





/*#myCarousel .nav a small {display:block;}
#myCarousel .nav a {border-radius:0px; color:white;}
.carousel-caption{padding-bottom:250px;}
#myCarousel .filas{position: relative; margin-top: -240px;}
#myCarousel img{width: 100%; font-size: cover; height: 670px;}


.section-info-header #drop-up .drop-up-item{ float: left; width: 100%; min-height: 100px; position:relative; top: 150px;}
.section-info-header #drop-up .drop-up-item ._1{background-image: url(../img/2.jpg); background-size:cover;width:100%;}
.section-info-header #drop-up .drop-up-item ._2{background-image: url(../img/somos.jpg);background-size:cover;width:100%;}
.section-info-header #drop-up .drop-up-item ._3{background-image: url(../img/programas/alimentaria/_pan.jpg);background-size:cover;width:100%;}
.section-info-header #drop-up .drop-up-item ._4{background-image: url(../img/programas/agricultura/hipodronica.jpg);background-size:cover;width:100%;}
.section-info-header #drop-up .drop-up-item .oscuro, .oscuro2, .oscuro3, .oscuro4{background-color: rgba(0,0,0,.5); width: 100%;height: 100%;}
.section-info-header #drop-up .content{
    overflow: hidden;
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 76px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;}
.section-info-header #drop-up .content button a{color: white;}
.section-info-header #drop-up .content p{padding:30px 15px 60px; color: white;}
.section-info-header #drop-up h3{ 
        color: white;
        background: rgba(251,65,65,0.6);
        position: absolute;
        bottom: 0;
        padding: 25px 10px;
        width: 100%;
        font-size: 16px;
        border-radius: 0px 0px 4px 4px;}
.section-info-header #drop-up h3 &:after{
            content: "";
            float: right;
            position: absolute;
            padding: 0.5rem;
            right: -20px;
            top: -5px;
            box-shadow: 1px -1px 0 1px white inset;
            -webkit-box-shadow: 2px -2px white inset;
            border: solid transparent;
            border-width: 0 0 2rem 2rem;
            transition: 0.2s;
            @include transform(rotate(225deg));
        }
*/



/*--------------PROYECTOSSS----------*/
.proyects2{background-color: rgb(50,57,70); margin-top: 140px;}
.proyects2 .esconder-mostrar {padding: 3em 0em 3em 0em;}
.snip1566 {position: relative; display: inline-block; margin: 10px; max-width: 190px; width: 100%; color: #fff; font-size: 16px;
  box-shadow: none !important; -webkit-transform: translateZ(0); transform: translateZ(0); height: 190px;}
.snip1566 *,
.snip1566:before,
.snip1566:after {-webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.3s linear; transition: all 0.3s linear;}
.snip1566:before,
.snip1566:after {-webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 50%; content: ''; position: absolute; top: 0px;
  bottom: 0px; left: 0px; right: 0px; z-index: -1; border: 2px solid #bbb; border-color: transparent #bbb;}
.snip1566 img{ max-width:100%; backface-visibility:hidden; vertical-align:top; border-radius:50%; padding:10px; height:180px;width:180px;}
.snip1566 figcaption {position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; opacity: 0; background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%; background-size: contain; background-position: center;}
.snip1566 i {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);font-size: 3em;}
.snip1566 a {position: absolute;top: 0;bottom: 0;left: 0;right: 0;height: 190px;width: 190px;}
.snip1566:hover figcaption, .snip1566.hover figcaption { opacity: 1;-webkit-transform: translateX(0);transform: translateX(0);}
.snip1566:hover:before,
.snip1566.hover:before,
.snip1566:hover:after,
.snip1566.hover:after{border-width: 10px;}
.snip1566:hover:before, .snip1566.hover:before { -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.snip1566:hover:after, .snip1566.hover:after {-webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
.proyects2 h5{font-family: 'Roboto', sans-serif;}
.block1{background-image: url(../img/medicina.jpg);}
.block2{background-image: url(../img/proyectos.JPG);}
.block3{background-image: url(../img/industria.jpg);}
.block4{background-image: url(../img/cuna.jpg);}
.block5{background-image: url(../img/proyectos.jpg);}
.block6{background-image: url(../img/produccion.JPG);}
.block7{background-image: url(../img/social.jpg);}
.block8{background-image: url(../img/medicina.jpg);}

/*-------ABOUTT-------------*/
.section-about{background-color: rgb(229,229,229); padding: 2em 0em 3.5em;}
.section-about img{margin: auto; width: 150px;}
.section-about h4{color: rgba(251,65,65,0.9);}
/*.section-about p{padding: 30px 0 15px 0;}*/
.section-about .number{font-size: 5em; font-weight: 500;color: rgba(251,65,65,0.8);}
.section-about input{margin: 50px 0px 10px; color: rgb(251,65,65); text-transform: uppercase; padding: 5px 40px; border:1px solid rgb(251,65,65);background: transparent;}
/*---------PUBLICATIONS----------*/
.section-publications {padding: 2em 0em 3.5em;}
.section-publications img{width: 100%; height: 150px;}
.section-publications .fondo{background: rgb(229,229,229); padding:15px; height: auto;}
.section-publications .fondo p{padding-top:10px;}
.section-publications h4{color: rgb(21,56,116);}
.section-publications a{color: rgb(251,65,65); text-decoration: none;}
.section-publications input{margin: 20px 0px 10px; color:rgb(21,56,116); text-transform: uppercase; padding:5px 55px; border:1px solid rgb(21,56,116);background: transparent;}
/*------------auspiciadores_carousel 22-------*/
.section-aliados{
  background-color:rgba(251,65,65,0.8);            /* #FB605B;*/
  width: 100%;color: white;padding: 2em 0em 3.5em;}
.section-aliados h3{font-size:1.7em; text-transform:none; margin-bottom:20px;} 
/*.section-aliados #media ._fondo {padding: 5px 10px; background-color:white; border: none;border-radius: 15px;}*/
.section-aliados #media ._fondo img{width: 100%; border-radius: 15px;}
.carousel{padding: 0;}
.media-carousel{padding: 0em 5em 0em 5em;}
.media-carousel .carousel-control.left {
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 35px;
  width : 35px;
  margin-top: 20px;}
.media-carousel .carousel-control.right {
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 35px;
  width : 35px;
  margin-top: 20px;}
.media-carousel .carousel-indicators {right: 50%;top: auto;bottom: 0px;}
.media-carousel .carousel-indicators .active{background: #333333;}
.media-carousel img{width: 180px;height: 80px;}
/*-----------Footer----------- */
.footer2{background-color: #000;color: #fff; font-family: 'Roboto', sans-serif;}
.footer2 i{font-size: 25px; height: 25px; width: 25px; color: rgb(251,65,65); margin: auto;}
.footer2 .fa-chevron-right{color: white;font-size: 13px; margin-right:-10px;}
.footer2 .contacto2 hr{height: 1px; border: 0; background-color:rgb(251,65,65);}
.footer2 .footer_menu a{color: white;}
.contacto2{margin: 30px auto;}
.contacto2 .comunic p{margin-top: 10px; margin-bottom: 10px;}
.contacto2 .comunic p a{color:rgb(251,65,65); }
.blanco-{height: 200px;}
/*------footer finalll---*/
.footer-final{background-color: rgb(50,57,70);; color: white; padding:0.5em;}
.footer-final p{margin-bottom: 0px;}



/*-----footerrrrrrrr*/

._footer{background:#0A95AA; color:#fff; position: relative; margin-top: 140px;}
._footer .nav{
  list-style:none;
}
._footer .nav li{display:inline-block;}
._footer .nav li a{
  display:inline-block;
   padding:3px 15px;
  color:inherit;
  text-decoration:none;
}


.flex-rw { display: flex; flex-flow: row wrap;}
footer { background: rgb(50,57,70); margin-top: auto; width: 100%; padding-top: 15px;}
.footer-social-section {width: 100%; align-items: center; justify-content: space-around; position: relative;}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 0.1em solid white;
  width: calc(100% - 20px)}
.footer-social-section a{color: white;}
.footer-social-section a:hover{color: rgba(251,65,65,.8);}
.footer-social-overlap { position: relative; z-index: 2; background: rgb(50,57,70); padding: 0 20px;}
.footer-social-connect { display: flex; align-items: center; font: 1.2em "Oswald", sans-serif;color: #fff;}
.footer-social-overlap > a {font-size: 2em;}
.footer-social-overlap > a:not(:first-child) { margin-left: 0.38em;}
.footer-address {display: inline; font-style: normal;}

.footer-menu{background:#000; color:#fff; position: relative;padding:10px 0px;}
.footer-menu .nav{list-style:none;}
.footer-menu .nav li{display:inline-block;}
.footer-menu .nav li a{display:inline-block; padding:3px 15px; color:inherit;}
.footer-menu .nav li a:hover{color:white; background-color:black;}
.footer-copy{background-color: rgb(50,57,70); padding: 10px 0px 9px 0px; color: white;}
@media only screen and (max-width: 768px) {
  .footer-social-connect {font-size: 1.2em;}
  .footer-social-overlap > a {font-size: 2em;}
}
@media only screen and (max-width: 568px) {
  .footer-social-section {justify-content: center;}
  .footer-social-section::after {top: 25%;}
  .footer-social-connect {margin-bottom: 10px; padding: 0 10px;}
  .footer-social-overlap {display: flex;justify-content: center;}
  .footer-social-icons-wrapper {width: 100%;padding: 0;}
  .footer-social-overlap > a:not(:first-child) {margin-left: 20px;}
  .footer-bottom-section {padding: 0 5px 10px 5px;}
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {margin: auto;}
  .footer-social-overlap > a:not(:first-child) {margin-left: 0px;}
}
@media only screen and (max-width: 320px) {
  .footer-social-connect {font-size: 1.2em;}
  .footer-social-overlap > a {font-size: 2em;}
}






@media (max-width: 750px){
  #navbar .navbar-fixed-top{padding-bottom: 38px;}
  #navbar .Logotype {margin-left: 65px;}
  /*.logotipo{margin-left: 65px;}
  .list-inline img{width: 37px;}
  .list-inline>li{padding-left: 5px;}*/
  #myCarousel .filas{position: relative; margin-top: 15px;}
  .section-info-header .all_fondo{margin: 10px 0px 5px 0px;}
  .proyects2 .esconder-mostrar .izquierda{margin: auto; float: none;}
  .proyects2 .esconder-mostrar .derecha{margin: auto;float: none;}
}

