*{outline: 1px solid red;}

@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Titillium+Web:300,300i,400,400i,600,600i,700,700i,900');

.mostrar-esconder{
	background-image: url(../image/proyectos.JPG);
	background-size: cover;
	background-position: center;
	width: 100%;
}
.esconder-mostrar{
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	 font-family: 'Advent Pro', sans-serif;
	font-weight: bolder;
}
.esconder-mostrar ul{
	list-style: none;
	width: 100%;
}
.esconder-mostrar .izquierda{
	float: left;
	padding: 0;
}
.esconder-mostrar .derecha{
	float: right;
	padding: 0;
}
.centro{
	background-color: rgba(189, 236, 182);
	/*height: 30em;
	width: 25em;*/
}
h3{
	margin-top: 0;
}

.capa1, 
.capa2, 
.capa3, 
.capa4, 
.capa5, 
.capa6,
.capa7,
.capa8{
    height: 7em;
    background-color: rgb(21, 56, 116);
    padding: 1.2em 0 1em 0;
    margin-top: 0.5em;
    color: #fff;
   
 }
.capa1 i, 
.capa2 i, 
.capa3 i, 
.capa4 i, 
.capa5 i, 
.capa6 i,
.capa7 i,
.capa8 i{
	font-size: 2.5em; 
	color: #fff;
}
.mensaje1,
.mensaje2,
.mensaje3,
.mensaje4,
.mensaje5,
.mensaje6,
.mensaje7,
.mensaje8{
    display: none;
    height: 20em;
    width: 40em;
    margin: 2em auto;
	color: #fff;
}
.img{
	background-size: cover;
	background-position: center;
	width: 100%; 
	height: 100%;
	border-radius: 0.5em;
}
.img1{background-image: url(../image/medicina.jpg);}
.img2{background-image: url(../image/proyectos.JPG);}
.img3{background-image: url(../image/produccion.JPG);}
.img4{background-image: url(../image/medicina.jpg);}
.img5{background-image: url(../image/medicina.jpg);}
.img6{background-image: url(../image/medicina.jpg);}
.img7{background-image: url(../image/medicina.jpg);}
.img8{background-image: url(../image/medicina.jpg);}


li:hover{
	 -moz-transform:rotate(-5deg); 
    -moz-box-shadow:10px 10px 20px #000000;
    -webkit-transform:rotate(-5deg); 
    -webkit-box-shadow:10px 10px 20px #000000;
    transform:rotate(4deg); box-shadow:10px 10px 20px #000000; 
    margin-left: 10px;
    background-color: rgb(251, 65, 65);
    border-radius: 1em;
}
